/*
	房间预约信息滚动
**/
@keyframes scroll
{
	0%
	{
		transform: translate3d(0, 0, 0);
	}
	100%
	{
		transform: translate3d(0, -50%, 0);
	}
}
.content
{
	height: 100%;
	min-height: 100vh;
	background-color: #ececec;
	.hearder
	{
		height: 40px;line-height: 40px;
		font-size: 16px;
		text-indent: 10px;
		color: #ccc;
		background-color: #2CC1E5;
		.userInfo
		{
			float: right;
			padding-right: 40px;
			color: #666;
			.username
			{
				color: #333;
			}
			.grey
			{
				color: #333;
			}
			.operate
			{
				color: #f00;
				cursor: pointer;
				-webkit-user-select: none;
				user-select: none;
			}
		}
	}
	.ct-ct
	{
		overflow: hidden;
		.roomItems
		{
			margin-right: -10px;
			padding: 20px;
			overflow: hidden;
			.room
			{
				float: left;
				margin: 0 10px 10px 0;
				width: 400px;
				padding: 10px;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 8px;
				box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
				.roomname
				{
					margin-bottom: 10px;
					line-height: 50px;
				}
				& > .detail
				{
					height: 158px;
					overflow: hidden;
					.chart
					{
						float: left;
						width: 50%;
					}
					.text
					{
						position: relative;
						height: 120px;
						/* 24*5*/
						overflow: hidden;
						.animate-box
						{
							&.scroll
							{
								animation: scroll 10s infinite linear;
							}
							.piece
							{
								line-height: 24px;
								.time
								{
									float: left;
								}
								.name
								{
									display: block;
									padding-right: 10px;
									text-align: right;
									overflow: hidden;
								}
							}
						}
					}
					.detail
					{
						float: right;
						padding: 10px;
						color: rgb(69, 137, 148);
						cursor: pointer;
						-webkit-user-select: none;
						user-select: none;
						&:hover
						{
							text-decoration: underline;
						}
					}
				}
				.btn-group
				{
					margin-top: 20px;
				}
			}
		}
	}
}