html, body
{
	height: 100%;width: 100%;
}
.login-wrap
{
	height: 100%;width: 100%;
	#canvas
	{
		position: absolute;
	}
	.tit
	{
		text-align: center;
	}
	.login-form
	{
		display: block;
		margin: 0 auto;
		width: 60%;
		min-width: 300px;
		max-width: 400px;
		.login-form-button
		{
			display: inline-block;
			width: 100%;
		}
	}
}
